// button, // disabled - messes up in block editor
.button,
.wp-block-button__link {
    background-color: $black;
    border-style: solid;
    border-width: 2px;
    border-color: $black;
    border-radius: 0;
    cursor: pointer;
    color: $white;
    display: inline-block;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    font-weight: $font-weight-bold;

    &:hover {
        background-color: $blue;
        border-color: $blue;
        color: $white;
    }

    // generate styles for classes from WP editor
    @each $name, $color in $theme-colors {

        &.has-#{$name}-background-color {
            background-color: $color;
            border-color: $color;

            &:hover {
                background-color: darken($color, 10%);
                border-color: darken($color, 10%);
            }

        }

        &.has-#{$name}-color {
            color: $color;

            &:hover {
                color: $color;
            }

        }

    }
}

@if $is-front-end {
    button {
        @extend .button;
    }
}

.button--outline,
.is-style-outline > .wp-block-button__link {
    background-color: $white;
    color: $black;

    &:hover {
        background-color: $white;
        border-color: $blue;
        color: $blue;
    }

    // generate styles for classes from WP editor
    @each $name, $color in $theme-colors {

        &.has-#{$name}-background-color {
            background-color: $color;
            border-color: unset;

            &:hover {
                background-color: darken($color, 10%);
            }

        }

        &.has-#{$name}-color {
            border-color: $color;
            color: $color;

            &:hover {
                background: $color;
                color: $white;
            }

        }

    }

}

// WP buttons should display side-by-side
.wp-block-buttons > .wp-block-button {
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 0;

    &:last-child {
        margin-right: 0;
    }
}

//**
// Content area buttons 
//**

#{$content-area-selector} {
    
    .wp-block-buttons {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

}