//**
// Fonts & Typography
//**

$font-size-2xs:     0.75rem;    // 12px
$font-size-xs:      0.875rem;   // 14px
$font-size-sm:      1rem;       // 16px
$font-size-md:      1.0625rem;  // 17px
$font-size-lg:      1.125rem;   // 18px
$font-size-xl:      1.25rem;    // 20px
$font-size-2xl:     1.5rem;     // 24px
$font-size-3xl:     1.875rem;   // 30px
$font-size-4xl:     2.25rem;    // 36px
$font-size-5xl:     3rem;       // 48px

$font-weight-normal:    400;
$font-weight-semibold:  600;
$font-weight-bold:      700;

//**
// Spacing System
//**

$margin-abbreviation: 'margin';
$padding-abbreviation: 'padding';

$sides: (
    'top': 'top',
    'right': 'right',
    'bottom': 'bottom',
    'left': 'left'
);

$spacer-px:  1.00px;
$spacer-0:   0.00rem;
$spacer-1:   0.25rem;
$spacer-2:   0.50rem;
$spacer-3:   0.75rem;
$spacer-4:   1.00rem;
$spacer-5:   1.25rem;
$spacer-6:   1.50rem;
$spacer-7:   1.75rem;
$spacer-8:   2.00rem;
$spacer-9:   2.25rem;
$spacer-10:  2.50rem;
$spacer-11:  2.75rem;
$spacer-12:  3.00rem;
$spacer-14:  3.50rem;
$spacer-16:  4.00rem;
$spacer-20:  5.00rem;
$spacer-24:  6.00rem;
$spacer-28:  7.00rem;
$spacer-32:  8.00rem;
$spacer-36:  9.00rem;
$spacer-40: 10.00rem;
$spacer-44: 11.00rem;
$spacer-48: 12.00rem;
$spacer-52: 13.00rem;
$spacer-56: 14.00rem;
$spacer-60: 15.00rem;
$spacer-64: 16.00rem;
$spacer-72: 18.00rem;
$spacer-80: 20.00rem;
$spacer-96: 24.00rem;

$spacers: (
    0: $spacer-0,
    px: $spacer-px,
    1: $spacer-1,
    2: $spacer-2,
    3: $spacer-3,
    4: $spacer-4,
    5: $spacer-5,
    6: $spacer-6,
    7: $spacer-7,
    8: $spacer-8,
    9: $spacer-9,
    10: $spacer-10,
    11: $spacer-11,
    12: $spacer-12,
    14: $spacer-14,
    16: $spacer-16,
    20: $spacer-20,
    24: $spacer-24,
    28: $spacer-28,
    32: $spacer-32,
    36: $spacer-36,
    40: $spacer-40,
    44: $spacer-44,
    48: $spacer-48,
    52: $spacer-52,
    56: $spacer-56,
    60: $spacer-60,
    64: $spacer-64,
    72: $spacer-72,
    80: $spacer-80,
    96: $spacer-96
);

//**
// Color System
//**

$white: #FFF;
$black: #000;

$gray-50:  #F9FAFB;
$gray-100: #F3F4F6;
$gray-200: #E5E7EB;
$gray-300: #D1D5DB;
$gray-400: #9CA3AF;
$gray-500: #6B7280;
$gray-600: #4B5563;
$gray-700: #374151;
$gray-800: #1F2937;
$gray-900: #111827;
$gray: $gray-500;

$red-50:  #FEF2F2;
$red-100: #FEE2E2;
$red-200: #FECACA;
$red-300: #FCA5A5;
$red-400: #F87171;
$red-500: #EF4444;
$red-600: #DC2626;
$red-700: #B91C1C;
$red-800: #991B1B;
$red-900: #7F1D1D;
$red: $red-500;

$yellow-50:  #FFFBEB;
$yellow-100: #FEF3C7;
$yellow-200: #FDE68A;
$yellow-300: #FCD34D;
$yellow-400: #FBBF24;
$yellow-500: #F59E0B;
$yellow-600: #D97706;
$yellow-700: #B45309;
$yellow-800: #92400E;
$yellow-900: #78350F;
$yellow: $yellow-500;

$green-50:  #F0FDF4;
$green-100: #DCFCE7;
$green-200: #BBF7D0;
$green-300: #86EFAC;
$green-400: #4ADE80;
$green-500: #22C55E;
$green-600: #16A34A;
$green-700: #15803D;
$green-800: #166534;
$green-900: #14532D;
$green: $green-500;

$blue-50:  #EFF6FF;
$blue-100: #DBEAFE;
$blue-200: #BFDBFE;
$blue-300: #93C5FD;
$blue-400: #60A5FA;
$blue-500: #3B82F6;
$blue-600: #2563EB;
$blue-700: #1D4ED8;
$blue-800: #1E40AF;
$blue-900: #1E3A8A;
$blue: $blue-500;

$indigo-50:  #EEF2FF;
$indigo-100: #E0E7FF;
$indigo-200: #C7D2FE;
$indigo-300: #A5B4FC;
$indigo-400: #818CF8;
$indigo-500: #6366F1;
$indigo-600: #4F46E5;
$indigo-700: #4338CA;
$indigo-800: #3730A3;
$indigo-900: #312E81;
$indigo: $indigo-500;

$purple-50:  #FAF5FF;
$purple-100: #F3E8FF;
$purple-200: #E9D5FF;
$purple-300: #D8B4FE;
$purple-400: #C084FC;
$purple-500: #A855F7;
$purple-600: #9333EA;
$purple-700: #7E22CE;
$purple-800: #6B21A8;
$purple-900: #581C87;
$purple: $purple-500;

$theme-colors: (
    'black': $black,
    'dark': $gray-900,
    'dark-gray': $gray-700,
    'gray': $gray,
    'light': $gray-200,
    'white': $white,
    'red': $red,
    'yellow': $yellow,
    'green': $green,
    'blue': $blue,
    'indigo': $indigo,
    'purple': $purple
);

//**
// Breakpoints
//**

$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;
$breakpoints: (
    'sm': $breakpoint-sm,
    'md': $breakpoint-md,
    'lg': $breakpoint-lg,
    'xl': $breakpoint-xl,
    '2xl': $breakpoint-2xl
);