.is-content-justification-left,
.is-content-justification-center,
.is-content-justification-right {
    display: flex;
}

.is-content-justification-left {
    justify-content: left;
}

.is-content-justification-center {
    justify-content: center;
}

.is-content-justification-right {
    justify-content: right;
}