{{ fn('get_header') }}

<main>
    <div class="container container--narrow --padding-y-24">
        {% block content %}
            {% for post in posts %}
                <article>
                    {{ post.content }}
                </article>
            {% endfor %}
        {% endblock %}
    </div>
</main>

{{ fn('get_footer') }}