{% extends 'layouts/container.twig' %}

{% block content %}
    <h2 class="--margin-right-0">
        {{ __( '404 - Not Found', '_slate' ) }}
    </h2>
    <p>
        {{ __( 'Nothing was found at this location.', '_slate' ) }}
    </p>
{% endblock %}