        <footer>
            <div class="container --padding-y-6 --font-2xs --text-center --font-bold">
                <p class="--margin-bottom-4">
                    _slate | just another WordPress starter theme
                </p>
                <p>
                    &copy;{{ "now"|date('Y') }}
                </p>
            </div>
        </footer>
        {{ wp_footer() }}
    </body>
</html>