        <footer class="site-footer">
            <div class="container">
                <p class="--margin-bottom-4">
                    slate — just another WordPress starter theme
                </p>
                <p>
                    &copy;{{ "now"|date('Y') }} Nate Weller
                </p>
            </div>
        </footer>
        {{ wp_footer() }}
    </body>
</html>