{% extends 'layouts/full.twig' %}

{% block content %}
    <article class="content-area">
        <header class="--padding-bottom-4">
            <h2>
                {{ post.title }}
            </h2>
        </header>
        {{ post.content }}
    </article>
{% endblock %}