$gutter-size: $spacer-4;

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: $gutter-size;
    padding-left: $gutter-size;
}

@each $breakpoint, $size in $breakpoints {
    @media (min-width: $size) {
        .container {
            max-width: $size;
        }
    }
}

@media (min-width: map-get($breakpoints, 'md')) {
    .container--narrow {
        max-width: map-get($breakpoints, 'md');
    }
}

.alignfull {
    margin: $gutter-size calc(50% - 50vw);
	max-width: 100vw;
	width: 100vw;
}