//**
// Base Typography
//**
body {
    color: $gray-800;
    font-size: 1.0625rem;
    font-family: $font-family;
    line-height: 1.5;
}

h1, .h1 {
    font-size: $font-size-4xl;
    font-weight: $font-weight-bold;
}

h2, .h2 {
    font-size: $font-size-3xl;
    font-weight: $font-weight-bold;
}

h3, .h3 {
    font-size: $font-size-2xl;
    font-weight: $font-weight-bold;
}

h4, .h4 {
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
}

h5, .h5 {
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
}

h6, .h6 {
    font-size: $font-size-md;
    font-weight: $font-weight-bold;
}

a, .link {
    color: $blue;
    font-weight: $font-weight-semibold;
}

a:hover,
.link:hover {
    color: $blue-600;
    text-decoration-line: underline;
    text-underline-offset: 0.175em;
    text-decoration-style: solid;
    text-decoration-color: $blue;
    text-decoration-thickness: 0.175em;
}

strong, b {
    font-weight: $font-weight-semibold;
}

pre {
    white-space: pre-wrap;
}

pre.wp-block-code,
pre.wp-block-preformatted {
    margin-top: $spacer-6;
    margin-bottom: $spacer-6;
}

pre.wp-block-code {
    background-color: $gray-100;
    padding-top: $spacer-3;
    padding-right: $spacer-4;
    padding-bottom: $spacer-3;
    padding-left: $spacer-4;
}

.wp-block-cover {
    margin-bottom: $spacer-6;
}

.has-drop-cap:first-letter {
    font-size: $font-size-5xl;
    font-weight: $font-weight-semibold;
    float: left;
    line-height: 1;
    padding-right: 0.5rem;
}

//**
// Content Area Typography
//**
#{$content-area-selector} {

    h1, .h1, 
    h2, .h2, 
    h3, .h3, 
    h4, .h4, 
    h5, .h5, 
    h6, .h6 {
        margin-bottom: $spacer-2;
    }

    p {
        margin-bottom: $spacer-6;
    }

    ul {
        list-style-position: inside;
        list-style-type: disc;
        margin-bottom: $spacer-6;
        margin-top: $spacer-6;
    }

    ol {
        list-style-position: inside;
        list-style-type: decimal;
        margin-bottom: $spacer-6;
        margin-top: $spacer-6;
    }

    blockquote {
        font-size: $font-size-xl;
        padding-left: $spacer-4;
        border-left-style: solid;
        border-left-color: $black;
        border-left-width: $spacer-1;
        padding-top: $spacer-2;
        padding-bottom: $spacer-2;
        margin-top: $spacer-6;
        margin-bottom: $spacer-6;

        p:last-of-type {
            margin-bottom: 0;
        }

        cite {
            font-size: $font-size-sm;
            text-transform: uppercase;
            font-weight: $font-weight-bold;
            font-style: normal;
        }
    }

    .wp-block-pullquote > blockquote {
        border-left-style: none;
    }

    hr {
        margin-top: $spacer-6;
        margin-bottom: $spacer-6;
    }

}